body {
  background-color: #f6e8e6;
}

.bg-orange {
  background-color: #f16852;
}

.navbar-brand {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 33px;

  color: #000000;
}

.btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-top: -2px;
}

.custom-btn {
  background-color: #d9d9d9;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-right: 10px;
  width: 25px;
  height: auto;
}

.sidebar {
  position: fixed;
  top: 56px; /* Tinggi navbar */
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 20px;
  background-color: #f16852;
}

.nav-link {
  font-family: "Monospace";
  font-style: normal;
  font-weight: 250;
  font-size: 18px;
  line-height: 27px;
  color: #fff9f9;
}

.nav-link .logo-sidebar {
  margin-right: 25px;
}

.logo-sidebar {
  width: 20px;
  height: auto;
}

.content {
  margin-left: 240px;
  padding: 20px;
}

.custom-table {
  border-collapse: separate;
  border: none;
  background-color: white;
  border-radius: 10px;
  font-size: 0.8rem;
  table-layout: fixed;
  width: 80%;
  margin-top: 30px;
}

.custom-table td,
.custom-table th {
  border: none;
}

.btn-available {
  width: 100px;
  height: 20px;
  background-color: #198754;
  border-radius: 35px;
  font-size: 15px;
  line-height: 7px;
  color: white;
}

.btn-unavailable {
  width: 100px;
  height: 20px;
  background-color: #f8022e;
  border-radius: 35px;
  font-size: 15px;
  line-height: 7px;
  color: white;
}

.btn-borrow {
  width: 100px;
  height: 20px;
  background-color: #f0cc0c;
  border-radius: 35px;
  font-size: 15px;
  line-height: 7px;
  color: white;
}

.table {
  display: table;
  width: 100%;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
  border: 1px solid black;
  padding: 5px;
}
