body{
  background-image: url("/images/markus-spiske-BfphcCvhl6E-unsplash 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card{
  background: rgba(234, 233, 233, 0.9);
  border: 1px solid #000000;
  border-radius: 50px;
  max-width: 350px;
  margin : auto;
  
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.text-center{
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 77px;
  text-align: center;
  letter-spacing: 0.165em;
  text-transform: uppercase;
  color: #F16852;
  justify-content: center;
}

.form-control {
  font-size: 15px;
  width: 250px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 1px solid #000000;
}

.forgot-password {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  float: right;
}

.btn.btn-primary {
  margin-top: 10px;
  font-size: 15px;
  width: 250px;
  height: 35px;
  left: 562px;
  top: 598px;
  background: #198754;
  border-radius: 10px;
}

.signup-text{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  
}
