body{
    background-color: #F6E8E6;
}

.bg-orange {
    background-color: #F16852;
}

.navbar-brand {
    font-family: 'Monospace';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 33px;

    color: #000000;
}

.btn{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-top: -2px; 

}

.custom-btn {
    background-color: #D9D9D9;
    height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  }

.logo{
    margin-right: 10px;
    width: 25px; 
    height: auto;
}

.sidebar {
    position: fixed;
    top: 56px; /* Tinggi navbar */
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 20px;
    background-color: #F16852;
  }

.nav-link {
    font-family: 'sans-serif', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 250;
    font-size: 17px;
    line-height: 27px;
    color: #F6E8E6;
}

.nav-link:hover{
    background-color: rgb(247, 244, 244);
    border-radius: 25px;
}

/* Menambahkan gaya responsif menggunakan media queries */
@media (max-width: 768px) {
    .nav-link {
      width: 150px;
      height: 150px;
    }
  }

.nav-link .logo-sidebar {
    margin-right: 25px;
    cursor: pointer;
}

.logo-sidebar {
    width: 20px; 
    height: auto;
}

.content {
    margin-left: 240px; 
    padding: 20px;
}

.nav-items{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.custom-table {
    border-collapse: separate;
    border: none;
    background-color: white;
    border-radius: 10px;
    font-size: 0.8rem;
    table-layout: fixed; 
    width: 90%;
    margin-top: 30px;
    font-weight: 600;
    color: #000000;
  }

  .text-right{
    margin-top: 50px;
    margin-right: 30px;
  }

  .btn-proceed{
    background: #198754;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
  }

  .btn-cancel{
    border-radius: 10px;
    font-size: 1rem;
  }



