<!DOCTYPE html>
<html>

<head>
    <title>dashboard admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/items.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-orange">
        <a class="navbar-brand" href="#">FABBIS Inventory</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto align-items-center">
                <li class="nav-item">
                    <img src="/images/Group 1.png" alt="Logo" class="logo">
                </li>
                <li class="nav-item">
                    <div class="logout">
                        <button type="submit" class="btn custom-btn">
                            <img src="/images/material-symbols_logout.png" alt="Logo" class="logo">Logout
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

 
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 col-lg-2 sidebar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="#"><img src="/images/Dashboard.png" alt="Logo" class="logo-sidebar">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><img src="/images/Item.png" alt="Logo" class="logo-sidebar">Item</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><img src="/images/History.png" alt="Logo" class="logo-sidebar">History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><img src="/images/Transaction.png" alt="Logo" class="logo-sidebar">Transaction</a>
              </li>
            </ul>
          </div>
          <div class="col-md-9 col-lg-10 content">
            <h3><strong>Welcome to Dashboard </strong></h3>
            <div class="container">
                <table class="table table-sm custom-table mx-auto mt-10">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Column 1</th>
                      <th scope="col">Column 2</th>
                      <th scope="col">Column 3</th>
                      <th scope="col">Column 4</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Row 1, Column 1</td>
                      <td>Row 1, Column 2</td>
                      <td>Row 1, Column 3</td>
                      <td>Row 1, Column 4</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Row 2, Column 1</td>
                      <td>Row 2, Column 2</td>
                      <td>Row 2, Column 3</td>
                      <td>Row 2, Column 4</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Row 3, Column 1</td>
                      <td>Row 3, Column 2</td>
                      <td>Row 3, Column 3</td>
                      <td>Row 3, Column 4</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>Row 4, Column 1</td>
                      <td>Row 4, Column 2</td>
                      <td>Row 4, Column 3</td>
                      <td>Row 4, Column 4</td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td>Row 5, Column 1</td>
                      <td>Row 5, Column 2</td>
                      <td>Row 5, Column 3</td>
                      <td>Row 5, Column 4</td>
                    </tr>
                    <tr>
                      <th scope="row">6</th>
                      <td>Row 6, Column 1</td>
                      <td>Row 6, Column 2</td>
                      <td>Row 6, Column 3</td>
                      <td>Row 6, Column 4</td>
                    </tr>
                    <tr>
                      <th scope="row">7</th>
                      <td>Row 7, Column 1</td>
                      <td>Row 7, Column 2</td>
                      <td>Row 7, Column 3</td>
                      <td>Row 7, Column 4</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
    
    
</body>

</html>