<!DOCTYPE html>
<html>

<head>
    <title>dashboard admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/items.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-orange">
        <a class="navbar-brand" href="#">FABBIS Inventory</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto align-items-center">
                <li class="nav-item">
                    <img src="/images/Group 1.png" alt="Logo" class="logo">
                </li>
                <li class="nav-item">
                    <div class="logout">
                        <!-- <button type="submit" class="btn custom-btn">
                            <img src="/images/material-symbols_logout.png" alt="Logo" class="logo">Logout
                        </button> -->
                        <a href="/logout" class="btn custom-btn">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

 
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 col-lg-2 sidebar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/user"><img src="/images/Dashboard.png" alt="Logo" class="logo-sidebar">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/items"><img src="/images/Item.png" alt="Logo" class="logo-sidebar">Item</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/history"><img src="/images/History.png" alt="Logo" class="logo-sidebar">History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/transaction"><img src="/images/Transaction.png" alt="Logo" class="logo-sidebar">Transaction</a>
              </li>
            </ul>
          </div>
          <div class="col-md-9 col-lg-10 content">
            <h3><strong>Items List </strong></h3>
            <div class="container">
                <table class="table table-sm table-borderless custom-table  mx-auto ">
                  <thead>
                    <tr>
                      <th scope="col">Items ID</th>
                      <th scope="col">Name</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Status</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">#0001</th>
                      <td>Shoes</td>
                      <td>10</td>
                      <td><button class="btn btn-available">Available</button></td>
                      <td><button class="btn btn-borrow">Borrow</button></td>
                    </tr>
                    <tr>
                      <th scope="row">#0002</th>
                      <td>Jersey</td>
                      <td>24</td>
                      <td><button class="btn btn-available">Available</button></td>
                      <td><button class="btn btn-borrow">Borrow</button></td>
                    </tr>
                    <tr>
                      <th scope="row">#0003</th>
                      <td>Foul Flag</td>
                      <td>6</td>
                      <td><button class="btn btn-available">Available</button></td>
                      <td><button class="btn btn-borrow">Borrow</button></td>
                    </tr>
                    <tr>
                      <th scope="row">#0004</th>
                      <td>Ball</td>
                      <td>15</td>
                      <td><button class="btn btn-available">Available</button></td>
                      <td><button class="btn btn-borrow">Borrow</button></td>
                    </tr>
                    <tr>
                      <th scope="row">#0005</th>
                      <td>Whistle</td>
                      <td>0</td>
                      <td><button class="btn btn-unavailable">Unavailable</button></td>
                      <td><button class="btn btn-borrow">Borrow</button></td>
                    </tr>
                    <tr>
                      <th scope="row">#0006</th>
                      <td>Scoreboard</td>
                      <td>0</td>
                      <td><button class="btn btn-unavailable">Unavailable</button></td>
                      <td><button class="btn btn-borrow">Borrow</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
    
    
</body>

</html>